<nav class="navbar " role="navigation">
    <div class="container-fluid ">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><h1>忠哥哥</h1></a>
        </div>
        <div class="col-xs-4 col-md-8 col-lg-8"></div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active" href="/"><a href="#">我们</a></li>
                <li><a href="#">相册</a></li>
                <li><a href="/">首页</a></li>
                <li><a href="/login">登录注册</a></li>
                <li><a href="/">联系我们</a></li>
            </ul>
        </div>
    </div>
</nav>