<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>忠哥哥</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<nav class="navbar " role="navigation">
    <div class="container-fluid ">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><h1>忠哥哥</h1></a>
        </div>
        <div class="col-xs-4 col-md-8 col-lg-8"></div>
        <div>
            <ul class="nav navbar-nav">
                <li  class="active" ><a href="/">首页</a></li>
                <li><a href="/home">我们</a></li>
                <li><a href="/home">相册</a></li>

                <li><a href="/login">登录注册</a></li>
                <li><a href="/music">工具</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" >
    <div class="row">
        <ul class="list-group" id = "list">

        </ul>
    </div>
</div>
<div  class="footer container">
    <div class="row">
        <div class="<div class=col-xs-4 col-md-4 col-lg-4" >
            <div style="height: 150px">
            </div>
        </div>
        <div class="col-xs-4 col-md-4 col-lg-4" >
            <div style="height: 150px">
            </div>
        </div>
        <div class="col-xs-4 col-md-4 col-lg-4">
            <div style="height: 150px">
            </div>
        </div>
    </div>
    <div class="foottext">
        Copyright © 2004 - 2020 zhonggg.com. All rights reserved.   |  备案号：蜀ICP备20006358号
    </div>

</div>
</body>

<script type="text/javascript" src="/assets/jQuery/jQuery-3.4.1.js"></script>
<script type="text/javascript" src="/js/common/common.js"></script>
<script type="text/javascript" src="/js/index/index.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</html>